<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>demo_selenium.topic_02</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestCase04_Passwordincorrect</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestCase03_emailInvalid</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestCase05_CreateAnAccount</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestCase1_VerifyURL</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestCase2_loginEmpty</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeTestCase</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterTestCase</td>
<td>&nbsp;</td></tr>
</table>
