<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ddd392">  <td>18/04/07 13:33:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="topic_02.TestCase03_emailInvalid()[pri:2, instance:demo_selenium.topic_02@cbc42f]">TestCase03_emailInvalid</td> 
  <td>main@24266462</td>   <td></td> </tr>
<tr bgcolor="ddd392">  <td>18/04/07 13:33:48</td>   <td>6469</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="topic_02.TestCase04_Passwordincorrect()[pri:3, instance:demo_selenium.topic_02@cbc42f]">TestCase04_Passwordincorrect</td> 
  <td>main@24266462</td>   <td></td> </tr>
<tr bgcolor="ddd392">  <td>18/04/07 13:33:56</td>   <td>14785</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="topic_02.TestCase05_CreateAnAccount()[pri:4, instance:demo_selenium.topic_02@cbc42f]">TestCase05_CreateAnAccount</td> 
  <td>main@24266462</td>   <td></td> </tr>
<tr bgcolor="ddd392">  <td>18/04/07 13:33:26</td>   <td>-15220</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="topic_02.TestCase1_VerifyURL()[pri:0, instance:demo_selenium.topic_02@cbc42f]">TestCase1_VerifyURL</td> 
  <td>main@24266462</td>   <td></td> </tr>
<tr bgcolor="ddd392">  <td>18/04/07 13:33:36</td>   <td>-5461</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="topic_02.TestCase2_loginEmpty()[pri:1, instance:demo_selenium.topic_02@cbc42f]">TestCase2_loginEmpty</td> 
  <td>main@24266462</td>   <td></td> </tr>
<tr bgcolor="ddd392">  <td>18/04/07 13:34:10</td>   <td>28893</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;topic_02.afterTestCase()[pri:0, instance:demo_selenium.topic_02@cbc42f]">&lt;&lt;afterTestCase</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24266462</td>   <td></td> </tr>
<tr bgcolor="ddd392">  <td>18/04/07 13:33:11</td>   <td>-30208</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;topic_02.beforeTestCase()[pri:0, instance:demo_selenium.topic_02@cbc42f]">&gt;&gt;beforeTestCase</td> 
<td>&nbsp;</td>  <td>main@24266462</td>   <td></td> </tr>
<tr bgcolor="ddd392">  <td>18/04/07 13:33:32</td>   <td>-9803</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;topic_02.beforeTestCase()[pri:0, instance:demo_selenium.topic_02@cbc42f]">&gt;&gt;beforeTestCase</td> 
<td>&nbsp;</td>  <td>main@24266462</td>   <td></td> </tr>
<tr bgcolor="ddd392">  <td>18/04/07 13:33:37</td>   <td>-3919</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;topic_02.beforeTestCase()[pri:0, instance:demo_selenium.topic_02@cbc42f]">&gt;&gt;beforeTestCase</td> 
<td>&nbsp;</td>  <td>main@24266462</td>   <td></td> </tr>
<tr bgcolor="ddd392">  <td>18/04/07 13:33:44</td>   <td>2619</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;topic_02.beforeTestCase()[pri:0, instance:demo_selenium.topic_02@cbc42f]">&gt;&gt;beforeTestCase</td> 
<td>&nbsp;</td>  <td>main@24266462</td>   <td></td> </tr>
<tr bgcolor="ddd392">  <td>18/04/07 13:33:52</td>   <td>10261</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;topic_02.beforeTestCase()[pri:0, instance:demo_selenium.topic_02@cbc42f]">&gt;&gt;beforeTestCase</td> 
<td>&nbsp;</td>  <td>main@24266462</td>   <td></td> </tr>
<tr bgcolor="ddd392">  <td>18/04/07 13:32:55</td>   <td>-45996</td> <td>&nbsp;</td><td title="&gt;&gt;topic_02.int_data()[pri:0, instance:demo_selenium.topic_02@cbc42f]">&gt;&gt;int_data</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24266462</td>   <td></td> </tr>
</table>
